<p id="notice"><%= notice %></p>

<h1>2015年台湾</h1>

<table>


  <tbody>
    <% @ideas.in_groups_of(2).each do |ideas| %>
      <tr>
        <% ideas.each do |idea| %>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag idea.picture_url(:thumb) if idea.picture? %></td>

        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_idea_path %>
<%= link_to 'peach', "http://www.flypeach.com/jp/ja-jp/homeJP.aspx", class: "peach"%>
